@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

a:link {
  text-decoration: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  font-family: "微軟正黑體"; }

/* 共用區 */
html {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #131e3c;
  font-family: "微軟正黑體"; }
  html .bg {
    width: 100%;
    height: 100%;
    background: url("../images/banner.png") no-repeat top center;
    position: fixed;
    top: 80px;
    -webkit-animation: banner 1.2s ease-in-out;
    animation: banner 1.2s ease-in-out;
    z-index: -999; }

/* header */
header {
  width: 100%;
  height: 80px;
  position: fixed;
  background: white;
  z-index: 1;
  /* rwd選單 */
  /* 左區 */ }
  header article {
    max-width: 1130px;
    height: 100%;
    margin: 0px auto;
    overflow: hidden;
    /* LOGO */
    /* 上選單 */
    /* rwd選單按鈕 */
    /* 上選單動畫區 */ }
    header article .logo {
      width: 285px;
      height: 75px;
      background: url("../images/logo.png") no-repeat;
      background-size: 90%;
      float: left;
      margin-top: 5px; }
    header article ul {
      float: right;
      text-align: center; }
      header article ul li {
        float: left;
        line-height: 80px; }
        header article ul li a {
          color: #686868;
          font-size: 16px;
          padding: 30px 15px 30px 15px; }
          header article ul li a:hover {
            background: #c8ac8b;
            color: white;
            -webkit-transition: 0.5s all;
            -o-transition: 0.5s all;
            transition: 0.5s all; }
    header article .rwdlistbt {
      display: none;
      width: 40px;
      height: 30px;
      margin: 25px 20px 0px 0px;
      float: right;
      background: transparent;
      border-color: black;
      border-width: 5px 0px 5px 0px;
      outline: none;
      cursor: pointer; }
      header article .rwdlistbt:active {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2); }
      header article .rwdlistbt::before {
        content: "";
        position: absolute;
        width: 40px;
        height: 5px;
        background: black;
        margin: -2px 0px 0px -20px; }
    header article .visited1 .li1, header article .visited2 .li2, header article .visited3 .li3, header article .visited4 .li4 {
      background: #c8ac8b;
      color: white; }
  header .rwdlist {
    width: 40%;
    height: 100%;
    background: rgba(19, 30, 60, 0.8);
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
    text-align: center;
    position: fixed;
    right: 0px;
    -webkit-transform: translateX(110%);
    -ms-transform: translateX(110%);
    transform: translateX(110%); }
    header .rwdlist a {
      display: block;
      color: white;
      width: 100%;
      height: 50px;
      line-height: 50px;
      border-bottom: dashed 1px; }
      header .rwdlist a:active {
        background: rgba(19, 30, 60, 0.5); }
    header .rwdlist article {
      margin-top: 20px;
      text-align: left; }
      header .rwdlist article h2 {
        color: #d6d6d6;
        font-size: 18px;
        margin: 10px 0px 0px 20px; }
      header .rwdlist article p {
        color: #d6d6d6;
        font-size: 13px;
        line-height: 20px;
        margin: 0px 20px; }
      header .rwdlist article span {
        display: block;
        font-size: 12px;
        margin: 10px 20px 0px;
        color: white; }
      @supports (-webkit-touch-callout: none) {
        header .rwdlist article {
          /* CSS specific to iOS devices */ }
          header .rwdlist article p {
            line-height: 14px; } }
  header .leftside {
    width: 43%;
    height: 905px;
    background: rgba(19, 30, 60, 0.8);
    /* 文字 */ }
    header .leftside article {
      width: 418px;
      height: 150px;
      float: right;
      margin-top: 306px; }
      header .leftside article h1 {
        font-size: 25px;
        color: white;
        letter-spacing: 1px;
        font-weight: bold;
        margin-bottom: 15px;
        -webkit-animation: textfadeout 1s ease-out;
        animation: textfadeout 1s ease-out; }
      header .leftside article p {
        font-size: 17px;
        color: white;
        line-height: 26px;
        font-weight: lighter;
        -webkit-animation: textfadeout 1.5s ease-out;
        animation: textfadeout 1.5s ease-out; }

.rwdslide .rwdlist {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%); }

/* main */
main {
  width: 100%;
  position: relative;
  top: 985px;
  /* 作品集 */
  /* FB按鈕動畫 */
  /* 左區動畫 */
  /* 關於我們 */
  /* 主要內容 */ }
  main .portfolio {
    width: 100%;
    height: 570px;
    background: white;
    -webkit-transition: 0.8s all;
    -o-transition: 0.8s all;
    transition: 0.8s all;
    /* FB按鈕 */
    /* 左區 */
    /* 右圖區 */ }
    main .portfolio .fbbutton {
      width: 300px;
      height: 60px;
      background: #0e2b7c;
      position: absolute;
      top: -60px;
      right: 320px;
      -webkit-box-shadow: 0px -1px 3px black;
      box-shadow: 0px -1px 3px black;
      -webkit-transition: 0.8s top;
      -o-transition: 0.8s top;
      transition: 0.8s top;
      outline: none;
      border: none; }
      main .portfolio .fbbutton::before {
        content: "";
        position: absolute;
        right: 30px;
        top: 25px;
        width: 15px;
        height: 10px;
        background: url("../images/arrow.png") no-repeat; }
      main .portfolio .fbbutton p {
        color: #d2d5e1;
        line-height: 60px;
        margin-left: 30px; }
      main .portfolio .fbbutton iframe {
        height: 0px;
        -webkit-transition: 0.8s height;
        -o-transition: 0.8s height;
        transition: 0.8s height; }
    main .portfolio .leftside2 {
      width: 43%;
      height: 570px;
      background: rgba(200, 172, 139, 0.2);
      float: left;
      position: relative;
      left: -820px;
      -webkit-transition: 0.5s all;
      -o-transition: 0.5s all;
      transition: 0.5s all;
      /* 文字 */ }
      main .portfolio .leftside2 article {
        width: 305px;
        height: 160px;
        float: right;
        margin: 180px 0px 0px 0px; }
        main .portfolio .leftside2 article h2 {
          font-size: 25px;
          font-weight: bold;
          padding: 10px 0px; }
        main .portfolio .leftside2 article li {
          line-height: 30px;
          font-size: 17px;
          position: relative;
          margin-left: 25px;
          opacity: 0; }
          main .portfolio .leftside2 article li::before {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            background: url("../images/portic.png");
            top: 10px;
            left: -20px; }
    main .portfolio article {
      max-width: 645px;
      height: auto;
      float: left;
      margin: 45px 0px 0px 50px; }
      main .portfolio article .img1, main .portfolio article .img2, main .portfolio article .img3, main .portfolio article .img4 {
        opacity: 0;
        width: 306px;
        height: 221px;
        float: left;
        margin: 0px 30px 25px 0px; }
      main .portfolio article .img1 {
        background: url("../images/img_01.png"); }
      main .portfolio article .img2 {
        background: url("../images/img_02.png");
        margin-right: 0px; }
      main .portfolio article .img3 {
        background: url("../images/img_03.png");
        margin-bottom: 0px; }
      main .portfolio article .img4 {
        background: url("../images/img_04.png");
        margin: 0px; }
  main .slidetop .fbbutton {
    top: -510px;
    -webkit-box-shadow: none;
    box-shadow: none; }
    main .slidetop .fbbutton::before {
      -webkit-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
      transform: scaleY(-1); }
    main .slidetop .fbbutton iframe {
      height: 450px; }
  main .slide .leftside2 {
    left: 0px; }
  main .about {
    max-width: 100%;
    height: 985px;
    background: #131e3c;
    -webkit-transition: 0.8s all;
    -o-transition: 0.8s all;
    transition: 0.8s all;
    /* 第二部分 */ }
    main .about article {
      max-width: 500px;
      height: 430px;
      margin: 0px auto;
      text-align: center; }
      main .about article h2 {
        font-size: 42px;
        color: white;
        line-height: 100px;
        margin: 0px 0px 50px 0px; }
      main .about article h1 {
        font-size: 24px;
        font-weight: bold;
        color: white;
        margin: 0px 0px 15px 0px;
        opacity: 0; }
      main .about article p {
        color: white;
        line-height: 22px;
        font-weight: lighter;
        opacity: 0;
        padding: 0px 40px; }
    main .about .aboutbg {
      width: 100%;
      height: 555px;
      background: url("../images/aboutbg.png") top center; }
      main .about .aboutbg article {
        max-width: 500px;
        height: 555px;
        text-align: center; }
        main .about .aboutbg article h3 {
          padding: 240px 40px 15px;
          font-size: 24px;
          font-weight: bold;
          opacity: 0; }
        main .about .aboutbg article h4 {
          color: black;
          font-weight: normal;
          opacity: 0;
          padding: 0px 40px; }
  main .target {
    max-width: 100%;
    height: 1750px;
    /* 製作過程 */
    /* 優勢 */
    /* 展示 */ }
    main .target .sec1 {
      width: 100%;
      height: 640px;
      background: #f5f8ff; }
      main .target .sec1 article {
        max-width: 1100px;
        height: 640px;
        margin: 0px auto;
        text-align: center; }
        main .target .sec1 article h1 {
          font-size: 42px;
          padding: 50px 0px 10px 0px; }
        main .target .sec1 article .sec1_2 {
          margin-top: 50px;
          width: 100%;
          height: 370px;
          text-align: left; }
          main .target .sec1 article .sec1_2 p {
            font-size: 30px; }
          main .target .sec1 article .sec1_2 div {
            width: 310px;
            height: 340px;
            float: left;
            margin: 30px 85px 0px 0px;
            opacity: 0; }
            main .target .sec1 article .sec1_2 div:last-child {
              margin-right: 0px; }
            main .target .sec1 article .sec1_2 div p {
              margin: 240px 0px 20px 0px;
              color: #1f3f81;
              font-weight: bold; }
            main .target .sec1 article .sec1_2 div span {
              font-weight: lighter; }
          main .target .sec1 article .sec1_2 .img5 {
            background: url("../images/img_05.png") no-repeat; }
          main .target .sec1 article .sec1_2 .img6 {
            background: url("../images/img_06.png") no-repeat; }
          main .target .sec1 article .sec1_2 .img7 {
            background: url("../images/img_07.png") no-repeat; }
    main .target .sec2 {
      width: 100%;
      height: 413px;
      background: url("../images/targetbg.png") no-repeat top center;
      /* 左區 */
      /* 字區 */ }
      main .target .sec2 .leftside3 {
        width: 43%;
        height: 413px;
        background: rgba(19, 30, 60, 0.9);
        float: left; }
        main .target .sec2 .leftside3 article {
          width: 410px;
          height: 70px;
          float: right;
          margin-top: 100px; }
          main .target .sec2 .leftside3 article p {
            font-size: 28px;
            color: white;
            font-weight: lighter;
            margin-bottom: 10px; }
          main .target .sec2 .leftside3 article span {
            font-size: 22px;
            color: white;
            opacity: 0; }
      main .target .sec2 article {
        max-width: 560px;
        height: 250px;
        float: left;
        margin: 100px 0px 0px 60px; }
        main .target .sec2 article p {
          color: white;
          line-height: 30px;
          font-weight: lighter;
          opacity: 0; }
    main .target .sec3 {
      width: 100%;
      height: 700px;
      background: #f4eee8;
      position: relative; }
      main .target .sec3 div {
        width: 25%;
        height: 349px;
        float: left;
        opacity: 0; }
        main .target .sec3 div h2 {
          font-size: 28px;
          font-weight: bold;
          margin: 110px 0px 0px 70px; }
        main .target .sec3 div h3 {
          font-size: 22px;
          color: #b88d5b;
          margin: 0px 0px 0px 70px; }
        main .target .sec3 div p {
          margin: 25px 0px 0px 75px; }
        main .target .sec3 div .a2, main .target .sec3 div .a4 {
          font-size: 18px; }
        main .target .sec3 div .a3 {
          font-size: 17px; }
      main .target .sec3 .img8 {
        background: url("../images/img_08.png") no-repeat;
        background-size: cover; }
      main .target .sec3 .img9 {
        background: url("../images/img_09.png") no-repeat;
        background-size: cover; }
      main .target .sec3 .img10 {
        background: url("../images/img_10.png") no-repeat;
        background-size: cover; }
      main .target .sec3 .img11 {
        background: url("../images/img_11.png") no-repeat;
        background-size: cover; }

/* 頁面隱藏動畫 */
.fade1 .portfolio, .fade2 .about {
  opacity: 0; }

/* footer */
footer {
  position: relative;
  width: 100%;
  height: 400px;
  background: #131e3c;
  top: 985px; }
  footer .foot {
    max-width: 1100px;
    height: auto;
    margin: 0px auto;
    /* 左區 */
    /* 右區 */ }
    footer .foot article {
      width: 600px;
      height: 400px;
      float: left; }
      footer .foot article h2 {
        color: white;
        font-size: 20px;
        margin: 40px 0px 20px 0px; }
        footer .foot article h2:first-child {
          margin-top: 70px; }
      footer .foot article p {
        color: white;
        line-height: 24px;
        font-weight: lighter;
        font-size: 17px; }
      footer .foot article span {
        display: block;
        color: #9ea9c5;
        margin-top: 50px; }
    footer .foot nav {
      max-width: 460px;
      height: 400px;
      float: left; }
      footer .foot nav h2 {
        color: white;
        font-size: 20px;
        margin: 70px 0px 25px 0px; }
      footer .foot nav div {
        width: 230px;
        height: 150px;
        float: left; }
        footer .foot nav div p {
          color: white;
          font-weight: lighter;
          margin-bottom: 10px; }
        footer .foot nav div input {
          color: #a6b1cd;
          background: #131e3c;
          outline: none;
          border: solid 1px white;
          width: 210px;
          height: 32px;
          padding-left: 10px;
          margin-bottom: 10px; }
        footer .foot nav div textarea {
          width: 210px;
          height: 96px;
          outline: none;
          background: #131e3c;
          border: solid 1px white;
          color: #a6b1cd;
          padding: 10px 0px 0px 10px;
          resize: none; }
        footer .foot nav div button {
          width: 100px;
          height: 35px;
          float: right;
          margin: 5px 8px 0px 0px;
          font-size: 17px;
          letter-spacing: 6px;
          text-align: center;
          background: #e8c9a5;
          outline: none;
          border: none;
          padding-left: 15px;
          cursor: pointer; }

/* 動畫區 */
@-webkit-keyframes banner {
  0% {
    opacity: 0; } }
@keyframes banner {
  0% {
    opacity: 0; } }

@-webkit-keyframes leftside {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  50% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }

@keyframes leftside {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  50% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }

@-webkit-keyframes textfadeout {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; } }

@keyframes textfadeout {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; } }

@-webkit-keyframes rwdleftside {
  0% { } }

@keyframes rwdleftside {
  0% { } }

/* RWD */
@media only screen and (max-width: 1240px) {
  main .portfolio .fbbutton {
    right: 10px; }
  main .portfolio .leftside2 {
    width: 30%; }
    main .portfolio .leftside2 article {
      width: 150px; }
  main .portfolio article {
    margin: 45px 0px 0px 30px; }
  main .target .sec1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    main .target .sec1 .sec1_2 .img5, main .target .sec1 .sec1_2 .img6, main .target .sec1 .sec1_2 .img7 {
      margin: 30px 15px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
  main .target .sec2 article {
    margin: 100px 0px 0px 20px; }
  footer .foot article {
    margin-left: 20px;
    width: 500px; } }

@media only screen and (max-width: 1023px) {
  header .leftside {
    width: 45%; }
    header .leftside article {
      max-width: 320px;
      height: 200px; }
  main .portfolio .leftside2 {
    width: 25%; }
  main .portfolio article {
    margin: 45px 0px 0px 10px;
    width: 565px; }
    main .portfolio article .img1, main .portfolio article .img2, main .portfolio article .img3, main .portfolio article .img4 {
      width: 260px;
      height: 200px;
      background-size: cover; }
  main .target .sec1 .sec1_2 .img5, main .target .sec1 .sec1_2 .img6, main .target .sec1 .sec1_2 .img7 {
    width: 225px;
    height: 200px;
    background-size: cover; }
  main .target .sec2 .leftside3 {
    width: 20%; }
    main .target .sec2 .leftside3 article {
      width: 125px; }
  main .target .sec3 .img8_1 h2, main .target .sec3 .img9_1 h2, main .target .sec3 .img10_1 h2, main .target .sec3 .img11_1 h2 {
    margin: 110px 0px 0px 40px; }
  main .target .sec3 .img8_1 h3, main .target .sec3 .img9_1 h3, main .target .sec3 .img10_1 h3, main .target .sec3 .img11_1 h3 {
    margin: 0px 0px 0px 40px; }
  main .target .sec3 .img8_1 p, main .target .sec3 .img9_1 p, main .target .sec3 .img10_1 p, main .target .sec3 .img11_1 p {
    margin: 25px 0px 0px 40px; }
  footer .foot article {
    margin: 0px;
    width: 308px; } }

@media only screen and (max-width: 767px) {
  header article {
    overflow: none; }
    header article ul li {
      display: none; }
    header article .rwdlistbt {
      display: block; }
  header .leftside {
    width: 50%;
    height: 655px; }
    header .leftside article {
      max-width: 140px;
      height: 250px;
      float: none;
      margin: 0px auto;
      padding-top: 150px; }
  main {
    top: 735px; }
    main .portfolio {
      height: 1240px; }
      main .portfolio .leftside2 {
        float: none;
        width: 100%;
        height: 200px; }
        main .portfolio .leftside2 article {
          float: none;
          margin: 0px auto;
          text-align: center; }
          main .portfolio .leftside2 article li:before {
            left: 0px; }
          main .portfolio .leftside2 article h2 {
            padding: 30px 0px 10px 0px; }
      main .portfolio article {
        width: 100%;
        height: 430px;
        float: none;
        margin: 20px auto 0px; }
        main .portfolio article .img1, main .portfolio article .img2, main .portfolio article .img3, main .portfolio article .img4 {
          float: none;
          margin: 40px auto 0px; }
      main .portfolio .fbbutton {
        display: none; }
    main .target .sec1 {
      display: block;
      height: 1200px; }
      main .target .sec1 article h1 {
        font-size: 38px; }
      main .target .sec1 article .sec1_2 {
        height: 885px;
        margin-top: 30px; }
        main .target .sec1 article .sec1_2 p {
          padding-left: 50px; }
        main .target .sec1 article .sec1_2 .img5, main .target .sec1 article .sec1_2 .img6, main .target .sec1 article .sec1_2 .img7 {
          float: none;
          margin: 20px auto 120px;
          width: 300px; }
          main .target .sec1 article .sec1_2 .img5:last-child, main .target .sec1 article .sec1_2 .img6:last-child, main .target .sec1 article .sec1_2 .img7:last-child {
            margin-right: auto; }
          main .target .sec1 article .sec1_2 .img5 p, main .target .sec1 article .sec1_2 .img6 p, main .target .sec1 article .sec1_2 .img7 p {
            margin: 0px;
            padding: 230px 0px 0px 0px; }
    main .target .sec2 {
      height: 520px;
      background-size: cover; }
      main .target .sec2 .leftside3 {
        float: none;
        width: 100%;
        height: 120px; }
        main .target .sec2 .leftside3 article {
          float: none;
          margin: 0px auto;
          padding-top: 15px; }
          main .target .sec2 .leftside3 article p {
            padding-top: 10px; }
      main .target .sec2 article {
        margin: 0px auto;
        float: none; }
        main .target .sec2 article .u1 {
          padding: 40px 40px 0px; }
        main .target .sec2 article .u2, main .target .sec2 article .u3, main .target .sec2 article .u4, main .target .sec2 article .u5, main .target .sec2 article .u6, main .target .sec2 article .u7 {
          padding: 0px 40px; }
    main .target .sec3 {
      height: 1585px;
      padding-top: 80px; }
      main .target .sec3 .img8, main .target .sec3 .img9, main .target .sec3 .img10, main .target .sec3 .img11 {
        float: none;
        width: 300px;
        height: 240px;
        margin: 0px auto; }
      main .target .sec3 .img8_1, main .target .sec3 .img9_1, main .target .sec3 .img10_1, main .target .sec3 .img11_1 {
        width: 340px;
        float: none;
        margin: 0px auto;
        height: 100px; }
        main .target .sec3 .img8_1 h2, main .target .sec3 .img9_1 h2, main .target .sec3 .img10_1 h2, main .target .sec3 .img11_1 h2 {
          margin: 30px 0px 0px 40px; }
  footer {
    top: 2370px; }
    footer .foot article {
      display: none; }
    footer .foot nav {
      width: 100%;
      max-width: 1000px;
      float: none; }
      footer .foot nav h2 {
        margin: 0px 0px 20px 0px;
        padding: 20px 0px 0px 60px; }
      footer .foot nav div {
        float: none;
        margin: 0px auto; } }
